[Desktop Entry]
Type=Application
Exec=xbindkeys
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=xbindkeys
Name=xbindkeys
Comment[en_GB]=
Comment=
